name: Unittest

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install the package
        run: |
          python -m pip install --upgrade pip
          pip install .
      - name: Run unit tests
        run: python -m unittest
